@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
.about-me-section {
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e, #ff7e5f, #00ffcc);
  color: #ffffff;
  padding: 4rem 2rem;
  padding-left: 50px;
}

.about-me-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 70px;
}

.about-left {
  flex: 1 1 500px;
  text-align: left;
}

.about-left p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;      /* thoda halka */
  font-size: 16px;
  color: #00f9c1;
  margin-bottom: 0.5rem;
  line-height: 1.6;  
  margin-top: 25px; 
  margin-bottom: 20px;   /* readability ke liye */
}

.about-left h2 {
    margin-top: 80px;
  font-size: 1.5rem;
  color: #fcd34d;
  margin-bottom: 2rem;
}

.icon-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.icon-circle {
  width: 55px;
  height: 55px;
  background: #1f1f2e;
  color: #00f9c1;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #00f9c1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
}

.icon-circle:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #00f9c1;
}

.about-right {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 20px #00f9c1;
}
